﻿@Model ManageCoffee.Models.Coffee
@{
    ViewData["Title"] = "DanhSachCoffee";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content">
    <div class="card mb-12">
        <div class="card-header">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Danh sách coffee</li>
            </ol>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="DanhSachCoffee" method="get" class="form-inline">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">

                                <input type="text" value="@ViewData["CurrentFilter"]" name="filter" class="form-control" placeholder="Tìm kiếm tên coffee " />

                            </div>
                            <div class="col-md-6 col-xs-12">

                                <button type="submit" class="btn btn-primary" value="Search">Tìm</button>
                                <button type="button" onclick="window.location.href='/Coffee/DanhSachCoffee'" class="btn btn-dark">Hủy</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var coffee in Model)
                {
                    <div class=" col-sm-3" style="border: 1px solid #ffb2b2; border-radius: 5px; margin: 10px;">
                        <div class="box_main">
                            <img src="@coffee.Image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tên:@coffee.Name</h5>
                                <p class="card-text">Loại:@coffee.Type</p>
                                <p class="card-text">Giá:@coffee.Price</p>
                                <a asp-controller="Order" asp-action="CustomerOrder" class="btn btn-primary">Buy Coffee</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="DanhSachCoffee"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn  btn-primary @prevDisabled">
                Trước
            </a>
            <a asp-action="DanhSachCoffee"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn  btn-primary @nextDisabled">
                Sau
            </a>
        </div>

    </div>
</div>
