﻿@Model ManageCoffee.Models.Coffee
@{
    ViewData["Title"] = "DanhSachCoffee";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content">
    <div class="card mb-12">
        <div class="card-header">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Danh sách coffee</li>
            </ol>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="DanhSachCoffee" method="get" class="form-inline">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">

                                <input type="text" value="@ViewData["CurrentFilter"]" name="filter" class="form-control" placeholder="Tìm kiếm tên coffee " />

                            </div>
                            <div class="col-md-6 col-xs-12">

                                <button type="submit" class="btn btn-primary" value="Search">Tìm</button>
                                <button type="button" onclick="window.location.href='/Coffee/DanhSachCoffee'" class="btn btn-dark">Hủy</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="align-content:center">
                @foreach (var item in Model)
                {
                    <div class=" col-sm-3" style="border: 1px solid #ffb2b2; border-radius: 10px; margin: 15px;">
                        <div class="box_main">
                            <h4 class="shirt_text">@item.Name</h4>
                            <p class="price_text">Mô tả:  <span style="color: #262626;"> @item.Description</span></p>
                            <p class="price_text"><span class="text-muted">@(item.Price.ToString("n0")) VND</span>    </p>
                            <div class="electronic_img" style="margin-left:-11px">
                                <a href="#">
                                    <img src="@item.Image" class="image_1" style="border-radius: 10px; width: 150px; height: 150px;">
                                </a>
                            </div>
                            <div class="btn_main">
                                <div class="seemore_bt" style="margin-bottom:20px;margin-top:10px">
                                    <a asp-route="addcart"
                                       asp-route-productid="@item.Id"
                                       class="btn btn-secondary btn-sm float-right">Đặt hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="DanhSachCoffee"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn  btn-primary @prevDisabled">
                Trước
            </a>
            <a asp-action="DanhSachCoffee"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn  btn-primary @nextDisabled">
                Sau
            </a>
        </div>
    </div>
</div>
