﻿@Model ManageCoffee.Models.Coffee
@{
    ViewData["Title"] = "DanhSachCoffee";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content">
    <div class="card mb-12">
        <div class="card-header">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Danh sách coffee</li>
            </ol>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <a class="btn btn-primary" asp-action="ThemCoffee">Thêm Sản Phẩm</a>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            @using (Html.BeginForm("XuatExcelCoffee", "Coffee", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {

                                <div>
                                    <input type="submit" value="ExportExcel" class="btn btn-primary" />
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="DanhSachCoffee" method="get" class="form-inline">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">

                                <input type="text" value="@ViewData["CurrentFilter"]" name="filter" class="form-control" placeholder="Tìm kiếm tên coffee " />

                            </div>
                            <div class="col-md-6 col-xs-12">

                                <button type="submit" class="btn btn-primary" value="Search">Tìm</button>
                                <button type="button" onclick="window.location.href='/Coffee/DanhSachCoffeeAdmin'" class="btn btn-dark">Hủy</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-head-bg-primary" style="text-align:center;">
                    <thead class="table-head-bg-primary">
                        <tr>
                            <span>Tổng số sản phẩm:@ViewData["coffee"]</span>
                        </tr>
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Tên Coffee
                            </th>
                            <th>
                                Mô Tả
                            </th>
                            <th>
                                Loại
                            </th>
                            <th>
                                Hình Ảnh
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Số Lượng
                            </th>
                            <th>
                                Trạng Thái
                            </th>
                            <th>
                                Thao Tác
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.Type
                                </td>
                                <td>
                                    <img src="@("../assets/img/"+item.Image)" alt="" class="avatar" style="width:100px; height:100px;">
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @if (@item.InStock == true)
                                    {
                                        <span>Còn hàng</span>
                                    }
                                    else
                                    {
                                        <span>Hết hàng</span>
                                    }
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-action="CapNhatCoffee" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="fa fa-pencil fa-fw"></i>Cập Nhật</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban fa-fw"></i>Xóa</a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="DanhSachAccount"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn  btn-primary @prevDisabled">
                    Trước
                </a>
                <a asp-action="DanhSachAccount"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn  btn-primary @nextDisabled">
                    Sau
                </a>
            </div>

        </div>
    </div>
</div>


