﻿@Model ManageCoffee.Models.Coffee
@{
    ViewData["Title"] = "DanhSachCoffee";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content">
    <div class="card mb-12">
        <div class="card-header">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Danh sách coffee</li>
            </ol>
            <div class="row">
                <div class="col-md-6 col-xs-12">

                    <a class="btn btn-primary" asp-action="ThemCoffee">Thêm Sản Phẩm</a>


                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="DanhSachCoffee" method="get" class="form-inline">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">

                                <input type="text" value="@ViewData["CurrentFilter"]" name="filter" class="form-control" placeholder="Tìm kiếm tên coffee " />

                            </div>
                            <div class="col-md-6 col-xs-12">

                                <button type="submit" class="btn btn-primary" value="Search">Tìm</button>
                                <button type="button" onclick="window.location.href='/Coffee/DanhSachCoffee'" class="btn btn-dark">Hủy</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-head-bg-primary" style="text-align:center;">
                    <thead class="table-head-bg-primary">
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Tên Coffee
                            </th>
                            <th>
                                Mô Tả
                            </th>
                            <th>
                                Loại
                            </th>
                            <th>
                                Hình Ảnh
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Số Lượng
                            </th>
                            <th>
                                Trạng Thái
                            </th>
                            <th>
                                Thao Tác
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.Type
                                </td>
                                <td>
                                    @item.Image
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.InStock
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-action="CapNhatCoffee" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="fa fa-pencil fa-fw"></i>Cập Nhật</a>
                                        <a asp-action="DeleteConfirmed" asp-route-id="@item.Id" class="btn btn-sm btn-danger ml-1"><i class="fa fa-ban fa-fw"></i>Xóa</a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="DanhSachAccount"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn  btn-primary @prevDisabled">
                    Trước
                </a>
                <a asp-action="DanhSachAccount"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn  btn-primary @nextDisabled">
                    Sau
                </a>
            </div>
            <div class="modal fade" id="CancelDontu" tabindex="-1" role="dialog" aria-labelledby="exaple">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="#exaple">Xóa sản phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body">
                        <h2>bạn có chắc muốn xóa sản phẩm này</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
        </div>
    </div>
</div>


