﻿@Model ManageCoffee.Models.Order

<h2>Order Details</h2>
<p>Order ID: @Model.Id</p>
<p>Customer ID: @Model.CustomerId</p>
<p>Order Date: @Model.OrderDate</p>
<p>Status: @Model.Status</p>

<h3>Order Items</h3>
@{
    decimal totalAmount = 0; 
}

<ul>
    @foreach (var orderItem in Model.OrderItem)
    {
        <li>
            Mã Coffee: @orderItem.CoffeeId -
            Số lượng: @orderItem.Quantity -
            Thành tiền: @orderItem.Price.ToString("n0") VNĐ
        </li>
        totalAmount += orderItem.Price;
    }
</ul>
<p>Tổng giá trị: @totalAmount.ToString("n0") VNĐ</p>

